In [1]:
#Dependencies
import pandas as pd

# Import vine_table (major appliances)
vine_table_to_load = "vine_table.csv"

#Read vine_table
vine_df = pd.read_csv(vine_table_to_load)

#show df
vine_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R203HPW78Z7N4K,5,0,0,N,Y
1,R2EAIGVLEALSP3,5,1,1,N,Y
2,R1K1CD73HHLILA,5,0,0,N,Y
3,R2KZBMOFRMYOPO,5,1,1,N,Y
4,R6BIZOZY6UD01,5,0,0,N,Y
...,...,...,...,...,...,...
96896,R3CYIDM3UEY5PA,4,37,43,N,N
96897,R1PLFLGSA6N9WU,1,33,39,N,N
96898,RBPARLMOY6ZU5,5,6,45,N,N
96899,RSS5TDZOGUEB6,4,71,71,N,N
96900,R1X5L2BT3H084O,3,8,40,N,N

In [22]:
# new df where total_votes is >= 20

TwentyPlusVotes_df = vine_df[vine_df["total_votes"] >= 20]

#sort by ascending to double check
#TwentyPlusVotes_df.sort_values(by="total_votes")

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
75464,R3JQ6JQXHYZ52S,1,20,20,N,N
24065,RHXJG1EQGCZVC,1,12,20,N,N
54972,RSN96L350YXGC,4,19,20,N,Y
23945,R33HQYBF6F7A1,5,14,20,N,Y
90601,R2LKU4TSPE9E8P,5,19,20,N,Y
...,...,...,...,...,...,...
92707,R1JFPKCJCABJN4,5,1194,1233,N,N
92838,R3IGYBBPK1MGX9,4,1267,1311,N,Y
71056,R1UKTJB42AVO4Q,4,1279,1331,N,Y
93916,R1HULR41LNQPBK,4,1451,1479,N,N
68773,R2WHCIU5P5HBYW,5,1724,1761,N,N

In [27]:
# New df where helpful_votes/total_votes >= 50%

fiftyPlusPercentHelpful_df = TwentyPlusVotes_df[TwentyPlusVotes_df["helpful_votes"]/TwentyPlusVotes_df["total_votes"] >= 0.5]

#show df
#fiftyPlusPercentHelpful_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
99,R3BC75VKJK6LNV,4,83,89,N,Y
170,R5XKK92G5N9FU,1,18,22,N,N
171,RYMOWYW38WKOB,5,35,35,N,N
304,RYHZAVESD0T37,1,39,45,N,Y
328,R19Y5VBOF3BQOG,1,26,35,N,Y
...,...,...,...,...,...,...
96892,R1LNYMXEM9TSB2,5,40,41,N,N
96894,R34YHIU17EF1D6,1,51,56,N,N
96896,R3CYIDM3UEY5PA,4,37,43,N,N
96897,R1PLFLGSA6N9WU,1,33,39,N,N
96899,RSS5TDZOGUEB6,4,71,71,N,N

In [39]:
# New df that retrieves all the rows where a review was written as part of the Vine program (paid)

paid_vine_user_df = fiftyPlusPercentHelpful_df[fiftyPlusPercentHelpful_df["vine"] == "Y"]

paid_vine_user_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
10115,R20O97P5V9CZ21,3,21,27,Y,N
24076,RCNB7YGLWKCV5,5,23,30,Y,N
25487,RX1ZUVGBH3HKC,5,814,848,Y,N
26003,RRS5AGL10DYU3,3,25,29,Y,N
26213,R5YFC5G8V2B3I,5,104,117,Y,N
26403,R1IDQ0G1S7J9TN,5,178,196,Y,N
26747,RKXNZX22HQZEE,3,182,192,Y,N
27720,R2K45IY0NO70ZI,5,116,122,Y,N
34517,RQXRI4UKDX877,5,20,24,Y,N
36014,R1L2R8OHO171YG,5,66,68,Y,N
60213,R15NQCQUNOSI4U,4,19,22,Y,N
60535,R37J6VNSC5TZVS,4,19,22,Y,N
61430,R3F1V21FOEIEKN,4,30,33,Y,N
61453,R2SQ2O06PRCM9D,5,28,31,Y,N
61646,RX7QEPPDUZLO7,4,18,20,Y,N
62875,R1B3OGO36CJKDA,5,15,20,Y,Y
65380,R2SIOD5SIH2LJN,4,25,31,Y,N
67949,R9J3GG1IL1KWC,5,158,164,Y,N
82952,RPGPLUGTQP80H,4,17,20,Y,N
83118,R2ACH3HF5VUWGD,4,76,78,Y,N
83176,R3G0GOG0CWU7AU,5,36,37,Y,N
83368,R214D7Q3CO5W5J,5,51,52,Y,N
83464,R2X8VIUPVX3WP2,5,52,57,Y,N
83514,R1SYUVX7GZZ469,4,46,51,Y,N
83793,R3BQS6JYP129DV,2,19,20,Y,N
84147,R15VXK8I0FPU0A,4,22,23,Y,N
84168,R3OA1SP1OGC1B0,5,37,40,Y,N
85757,R34C4BLRJPH3TL,5,48,53,Y,N
85877,R19OUHMKNXU3DC,4,76,78,Y,N
85917,R3QT4XV7OMRCCR,4,34,35,Y,N
86005,R1CXC7HG447Y0A,4,65,69,Y,N
86857,R3URHSBVCV2DC4,5,46,51,Y,N
86979,R3TRRBJUBRCG4E,4,49,51,Y,N
87061,R3AMGG11RIXJRR,5,24,28,Y,N
87076,R6AT0BH9PKJF,5,76,81,Y,N

In [40]:
# New df that retrieves all the rows where a review was written by unpaid users

unpaid_vine_user_df = fiftyPlusPercentHelpful_df[fiftyPlusPercentHelpful_df["vine"] == "N"]

unpaid_vine_user_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
99,R3BC75VKJK6LNV,4,83,89,N,Y
170,R5XKK92G5N9FU,1,18,22,N,N
171,RYMOWYW38WKOB,5,35,35,N,N
304,RYHZAVESD0T37,1,39,45,N,Y
328,R19Y5VBOF3BQOG,1,26,35,N,Y
...,...,...,...,...,...,...
96892,R1LNYMXEM9TSB2,5,40,41,N,N
96894,R34YHIU17EF1D6,1,51,56,N,N
96896,R3CYIDM3UEY5PA,4,37,43,N,N
96897,R1PLFLGSA6N9WU,1,33,39,N,N
96899,RSS5TDZOGUEB6,4,71,71,N,N

In [41]:
# Total number of reviews - Paid

total_reviews_paid = paid_vine_user_df.count()["review_id"]
total_reviews_paid

35

In [54]:
#total number of 5 stars - Paid

paid_vine_user_FiveStar = len(paid_vine_user_df[paid_vine_user_df["star_rating"] == 5])
paid_vine_user_FiveStar

18

In [56]:
# % of 5 stars - Paid

paid_vine_user_PercentFiveStar = paid_vine_user_FiveStar / total_reviews_paid 
paid_vine_user_PercentFiveStar

0.5142857142857142

In [42]:
# Total number of reviews - Unpaid

total_reviews_unpaid = unpaid_vine_user_df.count()["review_id"]
total_reviews_unpaid

4957

In [55]:
#total number of 5 stars - Unpaid

unpaid_vine_user_FiveStar = len(unpaid_vine_user_df[unpaid_vine_user_df["star_rating"] == 5])
unpaid_vine_user_FiveStar

1963

In [57]:
# % of 5 stars - Unpaid

unpaid_vine_user_PercentFiveStar = unpaid_vine_user_FiveStar / total_reviews_unpaid 
unpaid_vine_user_PercentFiveStar

0.3960056485777688